### Question 1
    
#### Consider the following Python module:
#### a = 0
#### def b():
       global a
       a = c(a)
#### def c(a):
       return a + 2
#### After importing the module into the interpreter, you execute:
#### >>> b()
#### >>> b()
#### >>> b()
#### >>> a
#### ?
#### What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

#### Answer 1:
The value "6" is displayed when the last expression (a) is evaluated. The following occurs on each invocation of the function:
    First time called function b =>  the function uses the global keyword to access the global variable "a". The function b calls function c , passing the current value of a , which is 0
        At the start of first invocation -> a=0 
        at the end of first invocation -> a=2
        as we can see here, the function c is called after passing the present value of the variable "a"
        The function c updates the value of this global variable by increasing it by 2
    Second invocation of the function b=> now the global variable "a" has value 2.
        At the start of second invocation -> a=2
        at the end of second invocation -> a=4
    Third time invocation of function b=>
        at the start of the third invocation -> a=4
        at the end of invocation -> a=6

In [6]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
b()
b()
b()
a

6

### Question 2: 
#### Function fileLength(), given to you, takes the name of a file as input and returns
#### the length of the file:
    >>> fileLength('midterm.py')
        284
    >>> fileLength('idterm.py')
    Traceback (most recent call last):
    File "<pyshell#34>", line 1, in <module>
     fileLength('idterm.py')
    File "/Users/me/midterm.py", line 3, in fileLength
     infile = open(filename)
    FileNotFoundError: [Errno 2] No such file or directory:
    'idterm.py'
#### As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:
    >>> fileLength('midterm.py')
    358
    >>> fileLength('idterm.py')
    File idterm.py not found.

In [9]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print(f"File {file_name} not found")
fileLength('Filelength.txt')
fileLength('midterm.py')

123
File midterm.py not found

### Question 3
#### Write a class named Marsupial that can be used as shown below:
    >>> m = Marsupial()
    >>> m.put_in_pouch('doll')
    >>> m.put_in_pouch('firetruck')
    >>> m.put_in_pouch('kitten')
    >>> m.pouch_contents()
    ['doll', 'firetruck', 'kitten']

In [44]:
class Marsupial:
    
    def __init__(self):
        self.contents=[]
    def put_in_pouch(self,a):
        self.contents.append(a)
    def pouch_contents(self):
        print(self.contents)

In [45]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [46]:
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        super().__init__()
        self.xcord= x
        self.ycord= y
    def jump(self,dx,dy):
        self.xcord+=dx
        self.ycord+=dy
    def __str__(self):
        return "I am a Kangaroo located at coordinates" + "("+str(self.xcord)+ ","+str(self.ycord) +")"

In [47]:
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates(0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates(3,0)

### Question 4
#### Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
    x = {
    洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n    3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
#### Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.
    >>> collatz(1)
    1
    >>> collatz(10)
    10
    5
    16
    8
    4
    2
    1

In [81]:
def collatz(number):
    print(number)
    if number!=1:
        if number%2==0:
            number = number//2
            number= int(number)
            collatz(number)
        else:
            number= (3*number) +1
            number= int(number)
            collatz(number)
    else:
        return

In [82]:
collatz(1)

1

In [83]:
collatz(10)

10
5
16
8
4
2
1

### Question 5
#### Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.
    >>> binary(0)
    0
    >>> binary(1)
    1
    >>> binary(3)
    11
    >>> binary(9)
    1001

In [13]:
def binary(number):
    if number==0:
        print("0")
    elif number==1:
        number = str(number)
        print(number, end="")
    else:
        rem= number%2
        print(rem,end="")
        number= number//2
        binary(number)
binary(0)

0

In [15]:
binary(1)

1

In [16]:
binary(3)

11

In [17]:
binary(9)

1001

### Question 6
#### Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
    >>> infile = open('w3c.html')
    >>> content = infile.read()
    >>> infile.close()
    >>> hp = HeadingParser()
    >>> hp.feed(content)
    W3C Mission
    Principles

In [7]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.value=False
        self.space= False
        
        
    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.value=True
        elif tag=="h2":
            self.value=True
            self.space=True
    def handle_data(self, data):
        if self.value== True:
            if self.space==True:
                print(" "+data.strip("\n"))
            else:
                print(data.strip("\n"))
        
            
infile = open(r"w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)
#Reference : https://docs.python.org/3/library/html.parser.html#example-html-parser-application

W3C Mission

 Principles

### Question 7
#### Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.
    >>>
    webdir('http://reed.cs.depaul.edu/lperkovic/test1.html'
    , 2, 0)
    http://reed.cs.depaul.edu/lperkovic/test1.html
     http://reed.cs.depaul.edu/lperkovic/test2.html
     http://reed.cs.depaul.edu/lperkovic/test4.html
     http://reed.cs.depaul.edu/lperkovic/test3.html
     http://reed.cs.depaul.edu/lperkovic/test4.html

In [1]:
from urllib.request import urlopen
from urllib.parse import urljoin

from html.parser import HTMLParser
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links
#Reference: Class notes

In [3]:
visited = set() # initialize visited to an empty set

def Webdir(url,depth,indent):
    '''a recursive web crawler that calls analyze()
       on every visited web page'''
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()
    print('{:45}'.format(url))
    
    
    # add url to set of visited pages 
    global visited     # warns the programmer 
    visited.add(url)
    
    # recursively continue crawl from every link in links
    for link in urls:
        
        # follow link only if not visited
        if link not in visited:
            try:
                webdir(url,depth,indent)
            except:
                pass
       
#Reference: Class notes

In [5]:
Webdir('http://reed.cs.depaul.edu/lperkovic/test1.html',2,0)

http://reed.cs.depaul.edu/lperkovic/test1.html

### Question 8
#### Write SQL queries on the below database table that return:
#### a) All the temperature data.
#### b) All the cities, but without repetition.
#### c) All the records for India.
#### d) All the Fall records.
#### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
#### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
#### g) The total annual rainfall for Cairo.
#### h) The total rainfall for each season.

In [2]:
import sqlite3
con = sqlite3.connect('web.db')
cur = con.cursor()
cur.execute("CREATE TABLE Data(City text,Country text,Season text,Temperature  float ,Rainfall float)")

In [3]:
cur.execute("INSERT INTO Data VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
cur.execute("INSERT INTO Data VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO Data VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4)")
cur.execute("INSERT INTO Data VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO Data VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7)")
cur.execute("INSERT INTO Data VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO Data VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO Data VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO Data VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO Data VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO Data VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO Data VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

In [6]:
cur.execute("Select * from Data")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [7]:
print("Answer 8 (a) \nThe Temperature data is :")
cur.execute("Select Temperature from Data ")
cur.fetchall()

Answer 8 (a)
The Temperature data is :

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [8]:
print("Answer 8 (b) \nAll the cities without repetition:")
cur.execute("Select Distinct City from Data ")
cur.fetchall()

Answer 8 (b)
All the cities without repetition:

[('Mumbai',), ('London',), ('Cairo',)]

In [9]:
print("Answer 8 (c) \nAll the records for India:")
cur.execute("Select * from Data where Country= 'India' ")
cur.fetchall()

Answer 8 (c)
All the records for India:

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [10]:
print("Answer 8 (d) \nAll the fall records:")
cur.execute("Select * from Data where Season= 'Fall' ")
cur.fetchall()

Answer 8 (d)
All the fall records:

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [11]:
print("Answer 8 (e) \nThe city, country, and season for which the average rainfall is between 200 and 400 millimeters:")
cur.execute("Select City,Country,Season from Data where Rainfall between 200 and 400 ")
cur.fetchall()

Answer 8 (e)
The city, country, and season for which the average rainfall is between 200 and 400 millimeters:

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [12]:
print("Answer 8 (f) \nThe city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.")
cur.execute("Select City,Country from Data where Temperature >20 and Season= 'Fall' order By Temperature  ")
cur.fetchall()

Answer 8 (f)
The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [13]:
print("Answer 8 (g) \nThe total annual rainfall for Cairo is")
cur.execute("Select SUM(Rainfall) from Data where City = 'Cairo'  ")
cur.fetchall()

Answer 8 (g)
The total annual rainfall for Cairo is

[(27.6,)]

In [14]:
print("Answer 8 (h) \nThe total rainfall for each season.")
cur.execute("Select Season,Sum(Rainfall) from Data group by Season ")
cur.fetchall()

Answer 8 (h)
The total rainfall for each season.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

### Question 9
#### Suppose list words is defined as follows:
    >>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
    'the', 'lazy', 'dog']
#### Write list comprehension expressions that use list words and generate the following lists:
    a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
    'LAZY', 'DOG']
    b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
    'lazy', 'dog']
    c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
    words).
    d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
    'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
    ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
    4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
    words, where each list contains the word in uppercase and lowercase and the
    length of the word.)
    e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
    'lazy', 'dog'] (the list of words in list words containing 4 or more
    characters.)

In [59]:
print("Answer: a)")

words= ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
upper_list= [item.upper() for item in words]
print(upper_list)
print("\n")
print("Answer: b)")
lower_list= [item.lower() for item in words]
print(lower_list)
print("\n")
print("Answer: c)")
len_list= [len(item) for item in words]
print(len_list)
print("\n")
print("Answer: d)")
list_of_list= [[item.upper(), item.lower(), len(item)] for item in words]
print(list_of_list)
print("\n")
print("Answer: e)")
four_up_list= [item for item in words if len(item)>3]
print(four_up_list)

Answer: a)
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']


Answer: b)
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


Answer: c)
[3, 5, 5, 3, 5, 4, 3, 4, 3]


Answer: d)
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]


Answer: e)
['quick', 'brown', 'jumps', 'over', 'lazy']